matplotlib==3.7.1
nltk==3.8.1
numpy==1.23.5
openai==0.27.2
pandas==1.5.3
Pillow==9.4.0
plotly==5.13.1
scikit_learn==1.2.2
seaborn==0.12.2
sentence_transformers==2.2.2
shap==0.41.0
spacy==2.3.9
stanza==1.4.2
streamlit==1.15.0
texthero==1.1.0
torch==1.13.1
tqdm==4.65.0
transformers==4.26.1
wordcloud==1.8.2.2
